$color-1: #181D26;
$color-2: #595956;
$color-3: #A5A6A1;
$color-4: #BFBFBF;
$color-5: #F4F4F4;

html{
	font-size:62.5%;
    @include media('>=desktop') {
font-size:70%;
  }

}
body{
	font-family: 'Oswald', sans-serif;
	color:$color-1;
	position: relative;
}
main{
	margin-top:50px;
}

%box {
    padding:10px;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    @include media('>=tablet') {
    padding:10px 50px;
  }
}

%box__header {
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    flex-basis: 100%;
}