/* contact */

.contact {
    @extend %box;
    background-color: $color-2;
    color: $color-5;
    justify-content:space-around;
}

.contact__header {
    @extend %box__header;
}

.contact__container{
    max-width:300px;
    padding:10px;
    @include media('>=tablet') {
        max-width:500px;
  }
}
.contact__company {
    text-align: center;
    line-height: 2.6rem;
    width: 100%;
}
.contact__map {
    height:200px;
    min-width: 300px;
    max-width:100%;
    border-radius: 20px;
@include media('>=tablet') {
    width: 500px;
    height: 500px;
    margin:10px;
  }
}

.contact__address {
    padding: 10px 0;
    width: 100%;
}

.address__elem {
    display: block;
    color: $color-4;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
}

.address__elem b {
    color: $color-5;
    margin-right: 5px;
    text-transform: uppercase;
}

.contact__office__header {
    margin: 0;
    text-transform: uppercase;
}

.office__days {
    list-style-type: none;
}

.office__days li {
    margin-bottom: 10px;
}

.contact__info {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
    padding: 20px;
}
.contact__desc{
    width:100%;
}
.contact__details {
    width: 100%;
    min-height:100px;
    border: 1px solid $color-5;
    overflow: hidden;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;

    &:hover .contact__box{
    transform:translateY(0);
    }
    @include media('>=tablet') {
    max-width: 300px;
    margin:10px;
  }
}


.contact__box {
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:$color-1;
    transition: .5s ease-in-out;
    transform:translateY(100%);
     @include media('>=tablet') {

  }
}

.contact__name {
position:absolute;
padding:0;
margin:0;
text-align:center;
}
.box__link {
    display:block;
    text-align:center;
    color:$color-4;
    font-size:1.9rem;
    padding:5px;
}