/* HEADER STYLE */

header {
    background-color: $color-5;
    display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
    width: 100vw;
    position: fixed;
    z-index:2;
    align-content: center;
}

.header__logo {
    margin: 10px;
    width: 30%;
    height:100%;
}

.header__menu__btn {
    border: 1px solid $color-3;
    border-radius: 5px;
    height: 30px;
    margin:10px;
    font-size: 1.4rem;
}

.header__menu {
    display: none;
    flex-basis: 100%;


}

.header__menu a {
    background-color: $color-4;
    display: block;
    padding: 4px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid $color-2;
    border-radius: 5px;
    width: 150px;
}

