
/* qualifications */

.qualifications {
    @extend %box;
    background-color: $color-4;
    text-align: center;
    position:relative;
}

.qualifications__headers {
    @extend %box__header;
}

.qualifications__doc {
    max-width: 40%;
    text-align: center;
    margin: 5px;
}

.qualifications__doc img {
    width: 100%;
}

.qualifications__doc__figcaption {
    text-align: center;
}


/* contact */

.contact {
    @extend %box;
    background-color:$color-2;
    color:$color-5;
}

.contact__header {
    @extend %box__header;
}
.contact__logo{
    margin: 10px;
    width: 50%;
    height:100%;
    flex-basis: 30%;
    filter:invert(1);
}
.contact__company{
    text-align: center;
    line-height: 2.6rem;
}
.contact__map{
    width:100%;
    height:200px;
    border-radius:20px;
}
.contact__address{
    padding:10px 0;
}
.address__elem{
    display: block;
   color:$color-4;
   margin-bottom:10px;
   letter-spacing: 0.1rem;
}
.address__elem b{
    color:$color-5;
    margin-right:5px;
    text-transform: uppercase;
}
.contact__office__header{
    margin:0;
    text-transform: uppercase;
}
.office__days{
    list-style-type: none;

}
.office__days li{
    margin-bottom:10px;
}

.contact__info{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
    padding:20px;
}
.contact__info p{
    flex-basis: 100%;
}
.contact__details{
    border:1px solid $color-4;
    flex-basis: 100%;
    text-align:center;
    padding:20px;
}
.contact__name{
    margin:0;
    margin-bottom:20px;
}
/* FOOTER */

.footer{
    min-height: 30px;
    /*height: 100%;*/
    background-color:$color-1;
    color:$color-5;

}
.footer__info{
    padding:20px 10px;

}
