/* slide style */

.slide {
    background-image: url('../images/1sm.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: auto;
    color: $color-5;
}

.slide__header {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.slide__info {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 0;
    right: 0;
    font-size: 2.0rem;
    text-transform: capitalize;
    letter-spacing: .5rem;
}

.slide__info2 {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 0;
    right: 0;
    font-size: 2.0rem;
    text-transform: capitalize;
}



%box {
    padding: 10px;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

%box__header {
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    flex-basis: 100%;
}



/* company style */

.company {
    background-color: $color-3;
    @extend %box;
    color: $color-5;
    position: relative;
    border-left: 5px solid transparent;
}

.company::before {
    content: '';
    background-color: $color-1;
    position: absolute;
    top: 20px;
    width: 45px;
}

.company__header {
    @extend %box__header;
}

.company__article__header {
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 10px;
}



/*  realizations style*/

.realizations {
    @extend %box;
    background-color: $color-4;
}

.realizations__header {
    @extend %box__header;
}

.realizations__list {
    
}

.realizations__list li {
    margin-bottom: 10px;
    margin-left: -20px;
}


/* reference */

.reference {
    @extend %box;
    /*overflow-X: hidden;*/
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.reference__logo {
    width: 40%;
    height: 100%;
    margin: 10px;
}

.reference__logo2 {
    width: 20%;
    height: 100%;
    margin: 10px;
}

.reference__header {
    @extend %box__header;
}


/* qualifications */

.qualifications {
    @extend %box;
    background-color: $color-4;
    text-align: center;
}

.qualifications__headers {
    @extend %box__header;
}

.qualifications__doc {
    max-width: 40%;
    text-align: center;
    margin: 5px;
}

.qualifications__doc img {
    width: 100%;
}

.qualifications__doc__figcaption {
    text-align: center;
}


/* contact */

.contact {
    @extend %box;
}

.contact__header {
    @extend %box__header;
}
.contact__logo{
    margin: 10px;
    width: 50%;
    height:100%;
    flex-basis: 30%;
}